<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body style="background-color: rgb(245, 255, 255);">
  <div class="container">
    <a href="/logout" class="btn btn-primary mb-3">Logout</a>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Index</th>
          <th>Title</th>
          <th>author</th>
          <th>publisher</th>
        </tr>
      </thead>
      <tbody>
        <% books.forEach(function(book, index) { %>
          <tr>
            <td style="vertical-align: middle;">
              <%= index + 1 %>
            </td>
            <td style="vertical-align: middle;">
              <%= book.title + "" %>
            </td>
            <td style="vertical-align: middle;">
              <%= book.author %>
            </td>
            <td style="vertical-align: middle;">
              <%= book.publisher %>
            </td>
          </tr>
          <% }); %>
      </tbody>
    </table>
  </div>
  <div class="container">
  </div>

</body>

</html>