<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/stylesheets/style-login.css">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
  <div id="login">
    <h3 class="text-center text-white pt-5">Login form</h3>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div id="login-box" class="col-md-12">


                    <form id="login-form" class="form" action="/signup" method="POST" enctype="multipart/form-data">
                        <h3 class="text-center text-info">Sign Up</h3>
                        <div class="form-group">
                            <label for="username" class="text-info">Email:</label><br>
                            <input type="text" name="email" id="email" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="password" class="text-info">Password:</label><br>
                            <input type="text" name="password" id="password" class="form-control">
                        </div>
                        <div id="register-link" class="text-right">
                          <p class="text-center text" style="color: red;"><%= signup_failed %></p>
                            <a href="/login" class="text-info">← Back to login</a>
                        </div>
                    </form>


                </div>
            </div>
        </div>
    </div>
</div>
<script>

    const fileInput = document.getElementById('file');
    const avatarImg = document.getElementById('avatar');
    
    fileInput.addEventListener('change', function(event) {
      const file = event.target.files[0];
      const reader = new FileReader();
    
      reader.onload = function(event) {
        avatarImg.src = event.target.result;
      }
    
      reader.readAsDataURL(file);
    });
    
    </script>
    
</body>

</html>